div .panel-default{
  margin-top: 120px;
}

p{
	margin-top: 15px;
	text-align: center;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 18px; 
}

#GroupForm {
	position: absolute;
	z-index: 1;
}

.panel-default {
	position: absolute;
	z-index: 1;	
	width: 100%;
	margin-top: 40%;
}

.form-group {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.chat {
	display: inline;
}
.btn{
	margin-bottom: 5px;
}

h3 {
	text-align: center;
}