div .panel-default{
  margin-top: 90px;
}

.white{
    color:#000;
    background-color:#fff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 18px; 
}

li{
    margin: 0px;
    border: 0px;
}

.title{
	margin-bottom: 5px;
}

.list ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

.list li{
	padding-left: 20px;
}

.listControl{
	width: 100px;
	text-align: center;
}

.btn{
	border-radius:0;
	margin-right: 5px;
}

