/*
SOURCES, ATTRIBUTIONS, WHO DID WHAT:
Adam: Created file
*/

div .panel-default{
  margin-top: 90px;
}

.white{
    color:#000;
    background-color:#fff;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

.topnav {
    font-size: 18px; 
}

li{
    margin: 0px;
    border: 0px;
}

.title{
	margin-bottom: 5px;
}

#list p, li{
	list-style: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
}

#list li{
	padding-left: 20px;
}

#listControl{
	width: 100%;
}

input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block{
	width: 20%;
	left: 30%;
	display: inline-block;
	position: relative;
}

.btn{
	border-radius:0;
	margin-right: 5px;
}

#list .collapsed{

}

#list .expanded{
	
}

.btn-block+.btn-block{
	margin-top: 0px;
}

#list > li > p{
	margin-left: 20px;
}

.hidden{
	display: none;
}

#expandList{
	font-size: 12px;
}

#collapseList{
	font-size: 12px;
}

#expList .collapsed{

}

#expList .expanded{

}